* {  /*para afetar todos os elementos no que toca ás margens e padding (atributos não herdados)*/
    box-sizing: border-box; /*todos os elementos individuais usam border-box, por defeito usam content-box*/
    margin: 0;  /*reset, pois certos elementos vêm com margens e padding pré-definidos, exemplo body margin: 8px    */
    padding: 0;

}

body {
    background: #f4f7fb;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.4;
    color:#a76f1b;
    margin-bottom: 30px;
    
    

}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #a76f1b;

}


.container {
    display: flex;  /*flex container. que contem os flex items aside e main*/  /*Por padrão flex direction = row*/
    min-height: 100vh; /*ocupa, no mínimo 100% da altura viewport*/
}

/* Barra Lateral: */

.sidebar {
    width: 220px;
    background: #fff;
    padding: 30px;
    border-right: 1px solid #eee; 
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}     

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.sidebar nav a {
    color: #555;  
    text-decoration: none; /*tira sublinhados*/

}

.sidebar nav a:hover {
    color: #000;
}

.socials {
    display: flex;
    margin-top: auto; /*faz com que socials ficam no fundo da sidebar*/
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid #ddd;
    padding-top: 15px;   
}

.socials a {
    font-weight: 500;
    font-size: 14px;
    color: #555;
    text-decoration: none;


}


.socials a:hover {
    color: #000;
}


/*Conteúdo Principal*/
.content {
    flex: 1; /*main ocupa restante do espaço deixado pelo tamanho fixo da side bar*/
    padding: 40px;
    

}


.hero {
    background: #fff;
    padding: 40px;
    border-radius: 12px; /*margens arredondadas*/

    display: flex;   
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    
}

.hero h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.hero-text {
    flex: 1;
    margin: 10px;
    padding: 10px;
    

}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%; /*transforma imagem em círculo*/
    object-fit: cover; 
    
    
    border: 3px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /*sombreado foto*/



}


.buttons { /*layout dos botoes*/
    display: flex;
    gap: 10px; /*posso controlar gap devido ao flex, em vez de usar margin right*/
    margin-top: 20px;
}


.btn { 
    padding: 10px 16px; /*10px vertical 16px horizontal*/
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    color: #555;
    /*font-weight: 600;  /*negrito*/ */

    
   

} 

.btn.primary {
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-color:#ddd;

    
    
    
}
.btn.secondary {
    background: #fff;
    border: 1px solid #ddd;
}


.btn:hover {     /* Pseudo-classe hover para quando curso passa sobre botão */
    background: #f4f7fb;
}

.btn:active {   /* Pseudo-casse active, efeito para quando botão é clicado  */ 
    transform: translateY(1px); /* botão move 1px para baixo */
    
} 



.cards {
    display: flex; /*mais um container para organizar em linha os cards em baixo*/
    gap: 10px; /*espaço entre cards*/
    margin-top: 30px;
    
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
}