* {  /*para afetar todos os elementos no que toca ás margens e padding (atributos não herdados)*/
    box-sizing: border-box; /*todos os elementos individuais usam border-box, por defeito usam content-box*/
    font-family: Arial, sans-serif;
    margin: 0;  /*reset, pois certos elementos vêm com margens e padding pré-definidos, exemplo body margin: 8px    */
    padding: 0;

}

body {
    background: #f4f7fb;
}


.container {
    display: flex;  /*flex container. que contem os flex items aside e main*/  /*Por padrão flex direction = row*/
    min-height: 100vh; /*ocupa, no mínimo 100% da altura viewport*/
}

/* Barra Lateral: */

.sidebar {
    width: 220px;
    background: #fff;
    padding: 30px;
    border-right: 1px solid #eee; 
}

.sidebar nav a {
    display: block; /*cada elemento <a> do nav, ocupa uma linha inteira, permite margem vertical, e área de click maior*/
    margin: 15px 0px; /*15 px para cima e para baixo, 0 à esquerda e à direita*/
    color: #555;  
    text-decoration: none; /*tira sublinhados*/

}

.sidebar nav a:hover {
    color: #000;
}


/*Conteúdo Principal*/
.content {
    flex: 1; /*main ocupa restante do espaço deixado pelo tamanho fixo da side bar*/
    padding: 40px;
}


.hero{
    background: #fff;
    padding: 40px;
    border-radius: 12px; /*margens arredondadas*/

    display: flex;   
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    
}

.hero-text {
    flex: 1;

}

.hero img {
    width: 200px;
    border-radius: 12px;

}

.buttons button {
    padding: 10px 16px; /*10px vertical 16px horizontal*/
    margin-right: 10px;
    border-radius: 6px;
    border: none; /*sem isto butão fica com margem preta*/
    cursor: pointer; /*qd se dá hover com rato, fica com cursor diferente, como nos hyperlinks*/
}

.secondary {
    background: #fff;
    border: 1px solid #ddd;
}

.cards {
    display: flex; /*mais um container para organizar em linha os cards em baixo*/
    gap: 10px; /*espaço entre cards*/
    margin-top: 30px;
    
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
}